@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Courier Prime", sans-serif !important;
}

body {
  background-image: linear-gradient(to right, #ff7e5f, #feb47b);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #333333;
}
